* {
  transition: all 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.input-field {
  width: 700px;
}

.textarea {
  width: 99%;
  height: 250px;
  background: black;
  color: white;
  font-size: 20pt;
}

.keyboard {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
  background: darkgrey;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 30px;
  margin: 2px;
  min-width: 41px;
  max-width: 41px;
  border-radius: 3px;
}

.key__Backspace {
  min-width: 90px;
  max-width: 90px;
}

.key__enter {
  max-width: 90px;
  min-width: 90px;
}

.key__capslock {
  min-width: 90px;
  max-width: 90px;
}

.key__shift {
  max-width: 100px;
  min-width: 100px;
}

.key__space {
  max-width: 310px;
  min-width: 310px;
}

.key__ShiftLeft {
  max-width: 115px;
  min-width: 115px;
}

.key__pressed {
  background: orange;
}

@keyframes onpress {
  from {
    background: orange;
  }

  to {
    background: black;
  }
}
